@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 1000px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f0f0f2;
}

 :root {
    --firstColor: #ff003c;
    --secondColor: #0b1c39;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondColor);
}

h1::selection {
    background-color: black;
    color: gold;
}

p::selection {
    text-shadow: 1px 1px 1px var(--firstColor);
}

h1:hover,
p:hover {
    text-shadow: 1px 1px gray;
}


/* nav  */

nav {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    justify-content: center;
    background-color: #fff;
}

nav img {
    width: 25%;
}

nav .list {
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: large;
    font-weight: 900;
    /* background: #f9f2f28a; */
    border-radius: 42px;
}

nav .list ul {}

nav .list li {
    margin-top: 50px;
    padding: 17px;
    text-transform: capitalize;
}

.list-items {
    background-color: #fff;
    border-top: 6px solid var(--firstColor);
    position: absolute;
    top: 70%;
    opacity: 0;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.list-items::before {
    content: "";
    position: absolute;
    top: -11%;
    /* width: 10px; */
    border-width: 10px;
    border-style: solid;
    /* height: 10px; */
    border-bottom-color: var(--firstColor);
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

nav #menu {
    opacity: 0;
}

nav label {
    opacity: 0;
}


/* hover on li */

nav .list li:hover a {
    color: var(--firstColor);
}

nav .list li:hover .list-items {
    opacity: 1;
}

nav .list li:hover .list-items a {
    color: var(--secondColor);
}


/* end hover on li  */

nav .icons {
    width: 25%;
    text-align: center;
    align-self: center;
}


/* .fa-search:before {
            content: "\f002";
        }
        
        .fa-user:before {
            content: "\f007";
        }
        
        .fa-shopping-cart:before {
            content: "\f07a";
        } */

.fa,
.fas {
    padding: 10px;
}


/* hover on icons  */

.fas:hover {
    color: var(--firstColor);
}

nav .list :nth-child(4)::after {
    content: "HOT";
    position: absolute;
    color: #fff;
    background-color: var(--firstColor);
    top: 20%;
    width: 39px;
    /* height: 20px; */
    right: 46%;
    text-align: center;
    border-radius: 11px;
    filter: drop-shadow(2px 4px 6px #ccc);
    font-size: small;
    font-weight: 700;
    padding: 3px 8px;
}


/* SECTION 1 */

.sec1 {
    margin-top: 20%;
    display: flex;
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.sec1 img {
    animation: img-watch-animation 1.5s infinite alternate;
    -webkit-animation: img-watch-animation 1.5s infinite alternate;
}

.sec1 img:hover {
    animation-play-state: paused;
}

@keyframes img-watch-animation {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
}

.sec1 div {
    text-align: left;
    align-self: center;
    animation: animation-of-div 1s 0.5s;
    -webkit-animation: animation-of-div 1s 0.5s;
}

@keyframes animation-of-div {
    0% {
        transform: translateX(-120%);
        -webkit-transform: translateX(-120%);
        -moz-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
        -o-transform: translateX(-120%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.sec1 h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 26px;
    color: #0b1c39
}

.sec1 p {
    font-size: x-large;
    font-weight: 700;
}

.sec1 button {
    width: 30%;
    font-size: large;
    margin-top: 10%;
    height: 53px;
    color: #fff;
    background: #4a4a4b;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
    z-index: 1;
    border: 0;
}

button:after {
    content: "";
    position: absolute;
    background: #ff2020;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

button:hover:after {
    width: 100%;
}


/* .sec1 button:hover {
    background: var(--firstColor);
    text-decoration: underline;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} */


/* END OF SECTION 1 */

.sec2 {
    margin: auto;
    width: 80%;
    overflow: hidden;
    /* display: flex; */
}

.sec2 .container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.sec2 .title {
    margin-top: 20%;
    margin-bottom: 10%;
}

.sec2 .title h2 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

.sec2 .item {
    max-width: 33.333333%;
    padding: 1.5%;
}

.sec2 .item .item-img {
    overflow: hidden;
    width: 100%;
}

.sec2 .item img {
    width: 100%;
    transition: all 0.4s ease-out 0s;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
}

.sec2 .item img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.sec2 .item .item-title {
    text-align: center;
}

.sec2 .item .item-title p {
    color: #ff2020;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-top: 10%;
}


/* h3 style */

.sec2 .item .item-title h3 {
    margin-top: 10%;
}

.sec2 .item .item-title h3::selection {
    background-color: gold;
    color: black;
}

.sec2 .item .item-title h3:hover {
    text-shadow: 1px 1px 1px gold;
}


/* End of h3 style */

.sec2 .item .item-title a {
    color: #444;
    font-weight: 700;
    font-size: 24px;
}


/* END of SEC2 */


/* SEC3 */

.sec3 {
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 20%;
    overflow: hidden;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 45px;
    justify-content: center;
}

.sec3 .item {
    overflow: hidden;
    position: relative;
}

.sec3 .item img {
    width: 100%;
    object-fit: cover;
    transform: scale(1.09);
    transition: ALL 0.5s ease;
}

.sec3 .item:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.sec3 .item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}

.sec3 .item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}

.sec3 .item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
}

.sec3 .item:nth-child(4) {
    grid-column: 3;
    grid-row: 2/3;
}

.sec3 .item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(1, 10, 28, .3);
    opacity: 0;
    transition: all .4s ease-out 0s;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.sec3 .item:hover::after {
    opacity: 1;
    visibility: visible;
}


/* End of SEC3 */


/*emoji

 */

.emoji {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 500px;
}

.emoji div {
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #9C27B0, #ecd615f0);
    position: relative;
    border-radius: 50%;
    animation: div-anim .6s infinite linear;
    -webkit-animation: div-anim .6s infinite linear;
    font-size: large;
    font-weight: bold;
}

.emoji div::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: #fff;
    right: 5%;
    top: 5%;
    border-radius: 50%;
}

.emoji div:hover {
    animation-play-state: paused;
}

@keyframes div-anim {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.emoji .div1 {
    background: linear-gradient(45deg, #e91e63, #ecd615f0);
}

.emoji .div2 {
    background: linear-gradient(45deg, #795548, #ecd615f0);
    animation-direction: reverse;
}

.emoji .div3 {
    background: linear-gradient(45deg, #e91e63, #673ab7);
    animation-direction: reverse;
}


/* my-checkBox */


/* my-checkBox
    Custom Checkbox Design using html and css | Pure CSS Custom Checkbox

    https://www.youtube.com/watch?v=7Rjt7Rjyjqw&list=PLwJhhWUZudKoCFi2MyC9ZD6XX082goO_S&index=28&ab_channel=Divinector */

.my-checkBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
    margin-top: 30%;
    padding: 30px;
}

.my-checkBox h1 {
    position: relative;
    right: 48px;
    border: 3px solid red;
    border-radius: 14px;
    color: wheat;
    width: 30%;
    text-align: center;
}

.my-checkBox label {
    background-color: gray;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 5px solid white;
    border-radius: 30px;
    position: relative;
}

.my-checkBox input {
    position: relative;
    left: 27px;
    /*  */
    display: none;
}

.my-checkBox label::after {
    content: "on";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    position: absolute;
    -o-border-radius: 50%;
    background-color: #E91E63;
    /*tocenterthetext*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 900;
}

.my-checkBox input:checked+label::after {
    left: 79%;
    content: "off";
    background-color: #4868db;
}

.my-checkBox input:checked+label {
    background-color: gold;
    border: 5px solid black;
}


/* flex box */

.flex-box2 {
    display: inline-flex;
    width: 25%;
    background: #fff;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 4px solid black;
    transition: all 1s;
    position: relative;
    margin-top: 200px;
    -webkit-transition: all 2s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.flex-box2 img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 50%;
    background-position: center;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.flex-box2 p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.flex-box2:hover {
    background: #333;
}

.flex-box2:hover p {
    color: #E91E63;
}

.flex-box2:hover img {
    position: absolute;
    top: -200%;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}


/* End flex box */


/* media query */

@media (max-width:1119px) {}

@media (max-width:991px) {
    nav img {
        width: 20%;
        height: 20%;
        order: 1;
    }
    nav label {
        opacity: 1;
        /* position: absolute; */
        /* left: 50%; */
        margin-left: 18%;
        margin-top: 3%;
        order: 2;
    }
    nav .icons {
        width: 25%;
        text-align: center;
        align-self: center;
        /* position: absolute; */
        /* top: 0; */
        /* right: 0; */
        order: 1;
    }
    nav .list {
        opacity: 0;
        display: block;
        text-align: center;
        position: absolute;
        left: 100%;
        top: 79%;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    nav .list li {
        margin-top: unset;
    }
    .list-items {
        background-color: #ec94b2;
        border-top: unset;
        position: unset;
        top: unset;
        opacity: 1;
        display: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    li:hover .list-items {
        display: block;
    }
    li:hover .list-items::before {
        display: none;
    }
    #menu:checked~.list {
        opacity: 1;
        width: 20%;
        /* height: 20%; */
        position: absolute;
        left: 70%;
        background: #cddc39;
        top: 68%;
        text-align: center;
        display: unset;
    }
    nav .list :nth-child(4)::after {
        content: unset;
        position: unset;
        color: unset;
        background-color: unset;
        top: unset;
        width: unset;
        /*height: 20px;
        */
        right: unset;
        text-align: unset;
        border-radius: unset;
        filter: unset;
        font-size: unset;
        font-weight: unset;
        padding: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
        -webkit-filter: unset;
    }
}

@media (max-width:767px) {
    a {
        color: var(--firstColor);
    }
    a:hover {
        color: var(--secondColor) !important;
        /* مرضاش يتطبق غير اما عملت 
        important */
    }
    .icons a:hover {
        color: var(--secondColor) !important;
        /* مش راضي يتطبق */
    }
    .sec1 img {
        display: none;
    }
    .sec1 div {
        text-align: center;
        margin-top: 20%;
    }
    .sec1 div h1 {
        font-size: 50px;
        color: #cddc39;
    }
    /* SEC2 */
    .sec2 .item {
        max-width: 100%;
        padding: unset;
        margin: auto
        /* to center it  */
    }
    .sec2 .item .item-title a {
        color: #ff003c;
        font-size: 20px;
    }
    .sec2 .item .item-title h3 {
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .sec2 .item .item-title p {
        color: darkblue;
        font-size: 26px;
        font-weight: 500;
        background: black;
        display: block;
        margin-bottom: 10%;
    }
    /* SEC3 */
    .sec3 {
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 20%;
        overflow: hidden;
        grid-template-columns: unset;
        grid-template-rows: unset;
        gap: unset;
        justify-content: unset;
    }
    .sec3 .item {
        width: 50%;
        margin: auto auto 10% auto
    }
    /* End of SEC3 */
}

@media (max-width:575px) {}


/* End of media query */